<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424678055013-lqikhot4d87ifooit42092ukp8uo1e4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424678055013-lqikhot4d87ifooit42092ukp8uo1e4g</string>
	<key>API_KEY</key>
	<string>AIzaSyCVckw9EYmZDS0hLEzv56zi7XuCeSG3GRE</string>
	<key>GCM_SENDER_ID</key>
	<string>424678055013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.yellowtoast.pets-next-door-flutter</string>
	<key>PROJECT_ID</key>
	<string>petsnextdoor-prod-1a02e</string>
	<key>STORAGE_BUCKET</key>
	<string>petsnextdoor-prod-1a02e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424678055013:ios:68a3249e63edf50d647a8c</string>
</dict>
</plist>